@import url(https://fonts.googleapis.com/css?family=Montserrat:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);

/*-------normalize-------------*/
*,
*::before,
*::after {
    box-sizing: border-box;
}


/* Removing padding */
ul[class],
ol[class] {
    padding: 0;
}

/* Removing margin */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
    margin: 0;
}

/* Set the basic default settings for the body */
body {
    line-height: 1.5;
    min-height: 100vh;
    overflow-y: scroll;
    scroll-behavior: smooth;
    text-rendering: optimizeSpeed;
}

/* Remove the default styling for all ul and li that have a class attribute */
ul[class],
ol[class] {
    list-style: none;
}

/* Elements a that don't have a class are reset to default styles */
a:not([class]) {
    text-decoration-skip-ink: auto;
}

a {
    text-decoration: none;
    color:#0536FC;

}

img {
    max-width: 100%;
    display: block;
}

/* Indicate a clear frequency in the data flow for article */
article>*+* {
    margin-top: 1em;
}

/* Inheriting fonts for inputs and buttons */
input,
button,
textarea,
select {
    font: inherit;
    outline: none;

    background: none;
    border: none;
}

/*------------------*/

html {
    scroll-behavior: smooth;
}

html,
body {
    height: 100%;
}

body {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;

    letter-spacing: -0.03em;
    text-transform: uppercase;
}

.wrapper {
    margin: 30px auto;
    max-width: 1440px;
    padding: 0 20px;
}

.wrapper {}

.support {}

[class*="_block-header"] {
    padding: 0 10%;
}

.sub-title {
    color: #0536FC;
    opacity: 0.9;
    margin-bottom: 30px;
}

.title {
    font-size: 28px;
    line-height: 34px;
    margin-bottom: 30px;
}

.description {
    font-weight: 300;
    opacity: 0.35;
    margin-bottom: 30px;
    max-width: 325px;
}



.button {
    background-color: #0536FC;
    font-weight: 400;
    width: 213px;
    height: 55px;

    letter-spacing: -0.03em;
    text-transform: uppercase;

    color: #FFFFFF;
}


.form {

}

.form__title { 
    margin-bottom: 20px;
}
.form__body { 

}
.button {}

.payment { 
    display: grid;
    grid-template-columns: 35px 1fr;
    margin-bottom: 48px;
}

.payment label, 
.period label { 
    opacity: 0.6;
    font-weight: 400;
    text-transform: none;
}

.payment input,
.period input { 
    border-radius: 50%;
    width: 15px;
    height: 15px;

    border: 1px solid rgba(0, 0, 0, 0.4);
    transition: 0.2s all linear;
}

.sum { 
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 50px);
    justify-items: center;
    align-items: center;

    margin-bottom: 22px;

    font-weight: 400;
}

.sum input:not(:last-child) { 
    display: none;
}

.sum label { 
    display: flex;
    width: 100%;
    height: 100%;

    align-items: center;
    justify-content: center;
    border: 1px solid rgba(0, 0, 0, 0.15);

}

.sum label:nth-child(4) { 
    border-right: none;
}

.sum input:checked + label {
    background-color: #0536FC;
    color: #FFFFFF;
}

.other { 
    padding-left: 35px;;
    grid-column: 1 / 5;
    grid-row: 2 / 3;
    justify-self: start;

    width: 100%;
    height: 100%;

    border: 1px solid rgba(0, 0, 0, 0.15);
    border-top: none;
}

.period { 
    margin-bottom: 50px;
}

.personal { 
    display: flex;
    flex-direction: column;
}


.personal input { 
    border-bottom: 1px solid rgba(0, 0, 0, 0.15);
    padding-bottom: 5px;
    max-width: 478px;

    margin-bottom: 30px;
}

.personal input::placeholder { 
    font-weight: 300;
    opacity: 0.35;
}

.contract label, 
.private label { 
    font-weight: 400;
    opacity: 0.6;
    text-transform: none;
}

.contract { 
    margin-bottom: 16px;
}
.private {
    margin-bottom: 48px;
}
/* Large desktops and laptops */
@media (min-width: 1200px) {
        .sum { 
            grid-template-columns: repeat(4, 160px);
        }
}
@media (min-width: 992px) { 
    .payment {
            display: block;
        }
    .payment input,
    .period input { 
        position: relative;
        top: 2px;
}
        .payment label,
        .period label { 
            margin-right: 30px;
        }

}

/* Landscape tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {

}

/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 991px) {

}

@media (min-width: 767px) {
    .form {
            display: flex;
        }
    body {
    font-size: 16px;
    line-height: 24px;
    }
    .form__title {
        width: 50%;
    }

    .form__body {
        width: 50%;
    }

}
    

/* Landscape phones and portrait tablets */
@media (max-width: 767px) {

}

/* Portrait phones and smaller */
@media (max-width: 480px) {}

/* Iphone 5 */
@media (max-width: 320px) {}